import:
  - logstash-plugins/.ci:travis/travis.yml@1.x

env:
  - DISTRIBUTION=default ELASTIC_STACK_VERSION=6.x
  - DISTRIBUTION=default ELASTIC_STACK_VERSION=7.13.0
  - DISTRIBUTION=default ELASTIC_STACK_VERSION=7.x
  - DISTRIBUTION=default ELASTIC_STACK_VERSION=7.x SNAPSHOT=true
  - DISTRIBUTION=default ELASTIC_STACK_VERSION=8.x SNAPSHOT=true
