import:
  - logstash-plugins/.ci:travis/travis.yml@1.x

env:
  - DISTRIBUTION=default ELASTIC_STACK_VERSION=8.x
  - DISTRIBUTION=oss ELASTIC_STACK_VERSION=8.x
  - DISTRIBUTION=default ELASTIC_STACK_VERSION=8.x SNAPSHOT=true
  - DISTRIBUTION=oss ELASTIC_STACK_VERSION=8.x SNAPSHOT=true
  - DISTRIBUTION=default ELASTIC_STACK_VERSION=7.x
  - DISTRIBUTION=oss ELASTIC_STACK_VERSION=7.x
  - DISTRIBUTION=default ELASTIC_STACK_VERSION=7.x SNAPSHOT=true
  - DISTRIBUTION=oss ELASTIC_STACK_VERSION=7.x SNAPSHOT=true
